
html {
  --maxwidth: 100%;
  --grid-main: repeat(12, minmax(0, 1fr));
  --grid-gap: 0px;
  --container-padding: 10px;
  --grid-gallery: repeat(auto-fit , minmax(250px,1fr));
  
}

@media (max-width: 900px) {
  html {
    --grid-main: repeat(10, minmax(0, 1fr));
    --grid-gap: 0px;
  }
}


@media (max-width: 700px) {
  html {
    --grid-main: repeat(8, minmax(0, 1fr));
    --grid-gap: 0px;
    --container-padding: 10px;
  }
}


@media (max-width: 500px) {
  html {
    --grid-main: repeat(6, minmax(0, 1fr));
    --grid-gap: 0px;
    --container-padding: 10px;
  }
}


@media (max-width: 320px) {
  html {
    --grid-main: repeat(4, minmax(0, 1fr));
    --grid-gap: 0px;
    --container-padding: 10px;
  }
}
