html {
  --font-1: nord;
  --font-1-medium: nord_medium;
  --font-1-semilight: nord_semilight;
  --font-1-light: nord_light;
  --font-1-bold: nord_bold;
  --font-2: ppeditorialnew;
  --font-2-ulight: ppeditorialnew_ulight;
  --text-nav: 16px;
  --text-caption: 40px;
  --text-note: 14px;
  --text-base: 28px;
  --text-subheader: 60px;
  --text-title: 46px;
  --text-headline: 95px;
  --text-display: 160px;
  --text-marquee:48px; 
}

@media (max-width <= 700px) {
  html{
  --text-nav: 16px;
  --text-caption: 24px;
  --text-note: 14px;
  --text-base: 22px;
  --text-subheader: 40px;
  --text-title: 24px;
  --text-headline: 48px;
  --text-display: 94px;
  }
  
}

@media (max-width <= 380px) {
 html{
  --text-nav: 18px;
  --text-caption: 24px;
  --text-note: 14px;
  --text-base: 16px;
  --text-subheader: 40px;
  --text-title: 24px;
  --text-headline: 48px;
 --text-display: 86px;
  }
  
}