

<div class="project {{elemento.descripcion}} {{elemento.tamano}} {{elemento.tecnica}}" onmouseover="{{elemento.descripcion}}.play()" onmouseleave="{{elemento.descripcion}}.pause();{{elemento.descripcion}}.currentTime=0;">
  <video category="clip" id = "{{elemento.descripcion}}" class="project-img" poster="/assets/video/gallery/{{elemento.imagen}}" loop muted>
   <source src="/assets/video/gallery/{{elemento.webm}}" type="video/webm"/> 
  </video>
  <div class="project-overlay">
   <p class="project-title text-subheader">{{elemento.titulo}}<br>{{elemento.subtitulo}}</p>
  </div>
 </div>

