
.about {
    text-align: justify;
}

.about a:hover{
    
    text-decoration:underline wavy 1.4px;

}

.accent {
    color: var(--accent-secondary);
   
    border: solid 1px var(--accent-secondary);
    border-radius: 60px;
    padding-left:10px ;
    padding-right: 10px;
  }