

.hero {
    margin-top: 40px;
  
    padding-bottom: 10px;
    align-content:flex-end;
    
}

.hero.container {
    padding-left: 0px;
    padding-right: 0px;
    
}

.hero.container.grid {
    align-content: flex-end;
    
}

.cabecera_hero {
    width: 75%;
    display: flex;
    flex-wrap: nowrap;
    gap:4em;
    padding: 0;
    justify-content: space-between;
}

.hero-title{
    padding-left: 20px;
    user-select: none;   
}

/* BOTON REEL------------------------------------------------------------------------*/
.ReelBtn{
    
    height: 150px;
    display: flex;
    position: relative;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 20px;

    
}

.CTA-Reel {
   cursor: pointer;
    background-color: var(--black-0);
    border: solid 1px var(--black-0);
    border-radius: 50%;
    padding:0;
    height: 70%;
    display: inline-block;
    
}

.CTA-Reel:hover span, .CTA-Reel:active span {

    background-color: var(--accent-secondary-1);
    transform: translate3d(-4px, -4px, 0);
}

.CTA-Reel span{
    
    display: block;
    background: var(--white-0);
    border: 2px solid var(--black-0);
    border-radius: 60%;
    padding:18px 87px;
    transform: translate3d(-2px, -2px, 0);
	transition: all 0.1s cubic-bezier(0.7, 0, 0.2, 1);

}


#DestelloTitle {
    overflow:visible;
    position: absolute;
    top:0;
    
    z-index:1;

}
#DestelloTitle02 {
    position: absolute;
    bottom: 10%;
    right:0;
    z-index:1;

}


/* VIDEO REEL------------------------------------------------------------------------------------*/

.reel_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26,26,26,1);
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    flex-direction: column;
}
.reel_container .close{
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 5%;
    
    color: var(--accent-primary);
    border: 1px solid var(--accent-primary);
    border-radius: 50%;
    padding: 5px 10px;
   
    cursor: pointer;
}

.reel_container video{
    width:90%;
    
    transform: scale(0);
    
    outline: none;
    transition: all 0.3s;
}

.reel_container.show{
    pointer-events: all;
    opacity: 1;
}

.reel_container.show video{
    transform: scale(1);
}

/* MARQUESINA------------------------------------------------------------------------------------*/

.marquee {
    display: flex;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.marquee_content{

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    min-width: 100%;
    animation: scroll 25s linear infinite;
}
 

.marquee_content img{
    animation: rotation 5s linear infinite;
}


/* ANIMACION------------------------------------------------------------------------------------*/

@keyframes rotation {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@keyframes scroll {
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 2rem));
      }
    }



/* RESPONSIVE------------------------------------------------------------------------------------*/

@media (max-width: 900px) {
 .ReelBtn {
    position: relative;
    bottom: 30px;
    margin-bottom: 20px;
    align-self: center;

 }
 .CTA-Reel{
   
    align-self: center;
    justify-self: center;
 }

 .cabecera_hero {
    width: 100vw;
    flex-direction: column;
    align-content: center;
    gap: 4em;
   }
        
}

@media (max-width: 701px) {
    .CTA-Reel{
        height: 52%;
     
     }

    #DestelloTitle02 {
        position: absolute;
        bottom: 15%;
        right:0;
        z-index:1;
    
    }

    .hero.container.grid {
        align-content: flex-end;
        
        
    }

    .hero{
        margin-top: 0;
    }
    


        
    .CTA-Reel {
        margin-bottom: 100px;
        padding:0;
        
        justify-self: center;
        margin: 0;
       
    }
    
    .hero-title{
           
            margin: 0px;
            align-self:flex-start;
        }
 
}

