 
  <script src="/assets/scripts/jquery-3.7.1.min.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
   <script src="/assets/scripts/Reel.js"></script>
   <script src="/assets/scripts/gallery.js"></script>
  <script src="/assets/scripts/hora.js"></script>
    <script src="/assets/scripts/scroll.js"></script>
    <script src="/assets/scripts/volver arriba.js"></script>
    <script src="/assets/scripts/loader.js"></script>

  <footer class="footer">
    <div class="hr"></div>
    <div class="container">
      <div class="copyright text-note">
        ©2023 Aspe&González
     </div>
     <div class="container-contacto">
      <div class="footer-contact col-8 text-note">
      <a href="mailto:aspegonzalez@gmail.com">aspegonzalez@gmail.com</a>//<a href="tel:+34637016798">(+34)637016798</a>
      </div>
      <div id="hora" class="text-note">
      <span id="hora-actual" class="hora"></span><sup id="franja-horaria" class="hora cet"></sup><span class="hora"> MAD</span><span class="hora cet">CET</span>
      </div>
      </div>
  </footer>

  
  
  </body>
</html>