
.menu{
  
  display: flex;
  justify-content: center ;
 
}



.nav { 

width: 7em;
display: inline-block;
text-align: center;
}

.nav a:hover {
  border-radius: 15px;
  padding: 5px 23px 5px 23px;
  border: 1px solid var(--accent-primary);
  box-shadow: inset 100px 0 0 0 var(--accent-primary);
  transition: ease-out 0.3s; 
}

.nav a {
  color: var(--black-0);
  border-radius: 15px;
  padding: 5px 23px 5px 23px;
  box-shadow: inset 0 0 0 0 var(--accent-primary);
  border: 0px solid var(--accent-primary);
  transition: ease-out 0.1s; 
  text-decoration: none;
 }

.nav a.active {
  border-radius: 15px;
  padding: 5px 23px 5px 23px;
  border: 1px solid var(--accent-primary);

}


@media (max-width:700px) {

  .menu{
    position: relative;
    margin-left: auto;
    margin-right: auto;
  } 
  
.nav a{
    border-radius: 50%;
    font-size: 22px;
  }
 
.nav a.active{
  border-radius: 50%;
}
}

@media (max-width:400px) {
  .menu {
    position: absolute;
    right:0;
    margin-right: 10px;
  }
 
  .nav {
    text-align: right;
  }
  
}