---
layout: layouts/base.njk
title: A&G::About us
 description: Aspe&Gonzalez´s contact page
eleventyNavigation:
  key: contacto
  title: About.
  order: 2
---

<div class="col-8">
  <br>
  <h1 class="text-display_Serif">Hi!</h1>
  <br>
  <p class="about text-body">I'm Álvaro Aspe, a freelance art director based in Spain, specializing in <span class="accent">motion graphics</span>.
My passion is creating impactful visuals that tell stories on the web, Big Screen and broadcasting.
Throughout my career, I've collaborated on <span class="accent">brand creation</span> and <span class="accent">digital products</span> for a variety of projects. I offer innovative visual solutions and have the flexibility to work both independently and in creative teams.
<br>If you're looking to bring your ideas to life with a touch of visual innovation, I’m excited about the opportunity to work on new projects, collaborations, or simply to say hello. <a href="mailto:aspegonzalez@hotmail.com">Let´s talk!</a></p>
 <br>
 <a href="https://www.instagram.com/alvaro_aspe/"  target="_blank" class="about text-body">+[Instagram]</a>
 <br>
 <a href="https://vimeo.com/user81089060" target="_blank" class="about text-body">+[Vimeo]</a>
 <br>
 <a href="https://www.behance.net/alvaroaspe5c2d" target="_blank" class="about text-body">+[Behance]</a>

</div>