---
layout: layouts/hero.njk
title: Aspe&Gonzalez Ltd. 
description: Aspe&Gonzalez Ltd. Motion & Graphic Design Services.
---

<div class="col-12">
  <div class="cabecera-hero"> 
    <div class="hero-title">
      <h1>
        <span class="text-display_Serif">Aspe&</span><br>
        <span class="text-display_Sans">González </span>
      </h1>
    </div>
      <div class="reel-btn">
        <lottie-player id="destello-title" src="assets/images/brand/Lottie/STAR_SHINE.json" background="transparent"  speed="1"  style="width: 100px; height: 100px;" loop autoplay></lottie-player>
        <div  id="ReelBtn" class="cta-reel text-caption"> 
          <span>Play&nbsp;Reel.</span> 
        </div> 
        <lottie-player id="destello-title02" src="assets/images/brand/Lottie/STAR_SHINE 2.json" background="transparent"  speed="1"  style="width: 60px; height: 60px;" loop autoplay></lottie-player>
      </div>
  </div>
</div>


<div class="marquee col-12">

  <div class="marquee-content text-marquee">
    <span>animated logos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
    <span>music videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*">
    <span>print</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*">
    <span>product viz</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
    <span>explainer videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
    <span>titles</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
  </div>
  <div class="marquee-content text-marquee">
    <span>animated logos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
    <span>music videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*">
    <span>print</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*">
    <span>product viz</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
    <span>explainer videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
    <span>titles</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg" alt="*"> 
  </div>

</div>



  <div class="reel-container">
    <span class="close menu text-nav">Close.</span>
    <video class="reel" src="/assets/video/Reel/A&G_Reel.webm"  loop></video>
    <div class="noise"></div>
  </div>
