---
layout: layouts/hero.njk
title: A&G::Ltd. Motion and graphic design services
description: Aspe&Gonzalez Ltd. Motion and graphic design services

---

<div class="col-12">
  <div class="cabecera_hero"> 
    <div class="hero-title">
      <h1>
        <span class="text-display_Serif">Aspe&</span><br>
        <span class="text-display_Sans">González </span>
      </h1>
    </div>
      <div class="ReelBtn">
        <lottie-player id="DestelloTitle" src="assets/images/brand/Lottie/STAR_SHINE.json" background="transparent"  speed="1"  style="width: 100px; height: 100px;" loop autoplay></lottie-player>
        <div  id="ReelBtn" class="CTA-Reel text-caption"> 
          <span>Play&nbsp;Reel.</span> 
        </div> 
        <lottie-player id="DestelloTitle02" src="assets/images/brand/Lottie/STAR_SHINE 2.json" background="transparent"  speed="1"  style="width: 60px; height: 60px;" loop autoplay></lottie-player>
      </div>
  </div>
</div>


<div class="marquee col-12">

  <div class="marquee_content text-marquee">
    <span>animated logos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
    <span>music videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg">
    <span>print</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg">
    <span>product viz</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
    <span>explainer videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
    <span>titles</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
  </div>
  <div class="marquee_content text-marquee">
    <span>animated logos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
    <span>music videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg">
    <span>print</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg">
    <span>product viz</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
    <span>explainer videos</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
    <span>titles</span>
    <img src="/assets/images/Navigation/marquee_asterisk.svg"> 
  </div>

</div>

</div>

  <div class="reel_container">
    <span class="close menu text-nav">Close.</span>
    <video class="reel" src="/assets/video/Reel/A&G_Reel.webm" type="video/webm"></video>
  <div class="noise"></div>
  </div>
